.d-flex-topsection {
  display: flex;
  justify-content: center;
}

.d-flex-topsection2 {
  display: flex;
  flex-direction: column;
}

.top_span_1 {
  font-size: 56px;
  font-weight: bold;
}

.top_span_2 {
  font-size: 20px;
  font-weight: bold;
  color: hsl(0, 0%, 75%);
}

.img_top_1 {
  height: 450px;
  width: 700px;
  margin-left: 200px;
}

.button_get_started {
  background-color: hsl(180, 66%, 49%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
}

.left_flex {
  margin-top: 40px;
  margin-left: 170px;
}
